.filme-principal{
    font-size: 16px;
    // background: url('../img/poster_what_if.jpg');
   
    height: 50vh;
    background-size: cover;
    border-radius: 10px;
    margin: 20px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .titulo{
        width: 30vw; 
        height: 30vh;
        margin: 20px;
        bottom: 40px;
        position: relative;
    }

    .descricao{
        font-size: 20px;
        position: relative;
        bottom: 20px;
    }
}