$red: #e50914;
$black: #141414; 
$silver: #AAA;
$hover_link: #fff;

$font: 'Arial Black';

@import 'filme_principal';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $black;
    color: white;
    font-family: $font;

    a{
        color: white;
        text-decoration: none;

        &:hover{
            color: $hover_link;
        }
    }

    .container{
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: inherit;
    
        .logo{
            margin-left: 5px;
            color: $red;
            font-size: 40px;
        }
    
        a {
            color: $silver;
            text-decoration: none;
            margin-right: 10px;
    
            &:hover{
                color: $hover_link; 
            }
        }
    
    }

    .item{
        width: 100vw;
    }
}
